// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

#header {
  .container {
    @include breakpoint($breakpoint-notebook) {
      padding: 0 16px;
    }

    position: relative;
    padding: 0 40px;
  }
}

.header {
  &__wrapper {
    @include breakpoint($breakpoint-mobile) {
      justify-content: space-between;
    }

    display: flex;
    gap: 19px;
    max-width: 1520px;
    margin: 0 auto;
  }

  &__logo {
    @include breakpoint($breakpoint-notebook) {
      min-width: 163px;
    }
    @include breakpoint($breakpoint-tablet) {
      max-width: 163px;
    }
    @include breakpoint($breakpoint-mobile) {
      justify-content: space-between;
      min-width: 100px;
      max-width: 100px;
    }

    display: flex;
    gap: 12px;
    align-items: center;
    min-width: 330px;
    padding-top: 4px;

    span {
      @include breakpoint($breakpoint-notebook) {
        display: none;
      }

      color: $color-text__gray;
      font-size: $font__text--small;
      line-height: 17px; /* 121.429% */
    }
  }

  &__top-nav {
    @include breakpoint($breakpoint-desktop) {
      grid-template-columns: 1.5fr 1fr 1fr 0.3fr 0.3fr 1fr;
    }
    @include breakpoint($breakpoint-laptop) {
      grid-template-columns: 1fr 1fr 0.3fr 0.3fr 1fr;
    }
    @include breakpoint($breakpoint-notebook) {
      grid-template-columns: 1fr 0.3fr 1fr 0.3fr;
      gap: 0 5px;
      padding-top: 1px;
      padding-bottom: 5px;
      border-bottom: none;
    }
    @include breakpoint($breakpoint-tablet) {
      grid-template-columns: 1fr 0.3fr;
    }

    display: grid;
    grid-template-columns: 2fr 1fr 1fr 0.2fr 0.3fr 1fr;
    align-items: center;
    padding-top: 9px;
    padding-bottom: 11px;
    border-bottom: 1px solid #818181;
  }

  &__catalog-btn {
    @include breakpoint($breakpoint-laptop) {
      display: none;
    }

    max-width: 192px;
    height: 48px;
    padding: 6px 23px;
    border-radius: 6px;
    background: $palette-black;
    color: $color-text__white;
    font-weight: 500;
    font-size: 18px;

    a {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: space-between;

      svg path {
        transition: $transition-time ease;
      }

      &:hover {
        svg path {
          fill: $link-hover-color;
        }
      }
    }
  }

  &__phone {
    @include breakpoint($breakpoint-notebook) {
      align-self: end;
      font-size: 18px;
    }
    @include breakpoint($breakpoint-tablet) {
      display: none;
    }

    font-size: 22px;
    white-space: nowrap;
  }

  &__mail {
    @include breakpoint($breakpoint-laptop) {
      justify-self: center;
      padding-left: 0;
    }
    @include breakpoint($breakpoint-notebook) {
      grid-row: 2/3;
      justify-self: start;
    }
    @include breakpoint($breakpoint-tablet) {
      display: none;
    }

    padding-left: 41px;
    font-size: 18px;
  }

  &__social {
    @include breakpoint($breakpoint-notebook) {
      align-self: end;
      margin-bottom: -5px;
    }
    @include breakpoint($breakpoint-tablet) {
      display: none;
    }

    justify-self: center;
    min-width: 24px;
  }

  &__search {
    @include breakpoint($breakpoint-desktop) {
      justify-self: center;
      padding-left: 0;
    }
    @include breakpoint($breakpoint-notebook) {
      display: none;
    }

    padding-left: 60px;
  }

  &__callback {
    @include breakpoint($breakpoint-notebook) {
      grid-row: 1/3;
      grid-column: 3/4;
      padding-left: 0;
    }

    padding-left: 24px;

    .button-primary {
      @include breakpoint($breakpoint-tablet) {
        width: 145px;
        height: 42px;
        background-image: url("../assets/images/global/btn-primary-small.png");
        font-size: 14px;
      }
    }
  }

  &__bottom-nav {
    @include breakpoint($breakpoint-notebook) {
      display: none;
    }

    padding: 15px 0 17px;

  }

  &__mobile-nav {
    // display: grid;
    // grid-template-columns: 1fr 1fr;

    display: none;

    .header__btn-close {
      display: none;
    }

    .dropdown-nav {
      display: none;
    }

    &.is-active {
      position: absolute;
      z-index: 20;
      top: 0;
      left: 0;
      display: block;

      min-height: 100%;
      padding: 15px 10px 25px 50px;
      background-color: $palette-white;

      .nav__list {
        flex-direction: column;
        gap: 22px;
      }

      .header__btn-close {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10px;
      }

      .dropdown-nav {
        display: flex;

        & > a {
          justify-content: space-between;
          width: 100%;

          &::after,
          & > span::after {
            content: "";
            display: flex;
            justify-self: end;
            width: 42px;
            height: 18px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='20' viewBox='0 0 44 20' fill='none'%3E%3Cpath d='M0.756836 10H42.7568M42.7568 10L33.698 19M42.7568 10L33.698 1' stroke='%23818181'/%3E%3C/svg%3E");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            transition: 0.2s ease;
          }
        }
      }
    }
  }

  &__burger {
    @include breakpoint($breakpoint-notebook) {
      z-index: 10;
      display: block;
      grid-row: 1/3;
      grid-column: 4/5;
      width: 82px;
      height: 68px;
      padding: 10px 23px;
      border-radius: 6px;
      background: $palette-black;
    }
    @include breakpoint($breakpoint-mobile) {
      width: 55px;
      height: 52px;
      padding: 9px 14px;
    }

    display: none;
    justify-self: end;

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      @include breakpoint($breakpoint-mobile) {
        height: 2px;
      }

      background-color: $palette-white;
    }

    .hamburger-inner::before {
      @include breakpoint($breakpoint-mobile) {
        top: -10px;
      }
    }

    .hamburger-inner::after {
      @include breakpoint($breakpoint-mobile) {
        bottom: -10px;
      }
    }

    .hamburger-box {
      @include breakpoint($breakpoint-mobile) {
        width: 30px;
        height: 36px;
      }

      width: 36px;
      height: 46px;
    }

    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
      // background-color: $color-text__blue;
    }
  }
}
