.contacts {
  &__wrapper {
    @include breakpoint($breakpoint-notebook) {
      grid-template-rows: 400px 400px;
      grid-template-columns: 1fr;
    }
    @include breakpoint($breakpoint-mobile) {
      grid-template-rows: 320px 320px;
    }

    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    border-radius: 10px;
  }

  &__info {
    @include breakpoint($breakpoint-laptop) {
      padding: 53px 0 53px 50px;
    }
    @include breakpoint($breakpoint-mobile) {
      padding: 10px 0;
      border: none;
      background: none;
    }

    display: flex;
    flex-direction: column;
    gap: 22px;
    padding: 53px 0 53px 158px;
    border: 1px dashed #818181;
    border-radius: 10px;
    background: #f2f2f2;
    font-size: 18px;

    span {
      display: block;
      padding-bottom: 10px;
      color: #a3a3a3;
    }
  }

  &__map {
    @include breakpoint($breakpoint-mobile) {
      margin: 0 -16px;
    }

    & > iframe {
      @include breakpoint($breakpoint-mobile) {
        border-radius: 0;
      }

      border-radius: 10px;
    }
  }
}
