.feedback {
  &__wrapper {
    @include breakpoint($breakpoint-laptop) {
      padding: 45px 30px;
    }
    @include breakpoint($breakpoint-notebook) {
      gap: 10px;
    }
    @include breakpoint($breakpoint-tablet) {
      grid-template-columns: 1fr;
      gap: 24px;
      height: auto;
      margin-top: 0;
      padding: 31px 16px;
    }

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 76px;
    align-items: center;
    height: 224px;
    margin-top: 79px;
    padding: 58px 0 60px 277px;
    border-radius: 10px;
    background: url("../assets/images/sections/feedback/bg.png"), linear-gradient(243deg, #c14b00 7.07%, #f45f00 87.26%);
  }

  &__left {
    @include breakpoint($breakpoint-tablet) {
      text-align: center;
    }
  }

  &__title {
    @include breakpoint($breakpoint-notebook) {
      font-size: 30px;
    }
    @include breakpoint($breakpoint-tablet) {
      font-size: 26px;
    }

    padding-bottom: 12px;
    color: $color-text__white;
    font-size: 36px;
    font-family: $font-title;
    letter-spacing: 0.72px;
  }

  &__text {
    color: $color-text__white;
    font-size: 18px;
    line-height: 26px; /* 144.444% */
  }

  &__right {
    @include breakpoint($breakpoint-notebook) {
      justify-self: end;
    }
    @include breakpoint($breakpoint-tablet) {
      justify-self: center;
    }
  }

  .button-secondary--orange {
    width: 297px;
    background-image: url("../assets/images/sections/feedback/button.png");
  }
}
