#slider {

}

.slider {
  &__wrapper {
    @include breakpoint($breakpoint-desktop) {
      height: 628px;
    }
    @include breakpoint($breakpoint-tablet) {
      height: 758px;
    }
    @include breakpoint($breakpoint-mobile) {
      height: 820px;
    }

    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background: #364771;

    picture {
      height: 100%;
    }
  }

  &-info__wrapper {
    @include breakpoint($breakpoint-desktop-big) {
      top: 50px;
    }
    @include breakpoint($breakpoint-desktop) {
      top: 30px;
      grid-template-columns: 1fr;
      gap: 50px;
    }
    @include breakpoint($breakpoint-tablet) {
      left: 5%;
      width: 90%;
    }

    position: absolute;
    top: 150px;
    left: 10%;
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    justify-content: space-between;
    width: 83%;
  }

  &__info {
    @include breakpoint($breakpoint-desktop-big) {
      padding-top: 20px;
    }

    padding-top: 50px;
    // position: absolute;
    // top: 200px;
    // left: 162px;
  }

  &__title {
    @include breakpoint($breakpoint-desktop-big) {
      line-height: 115%; /* 70.2px */
    }
    @include breakpoint($breakpoint-desktop) {
      font-size: 42px;
    }
    @include breakpoint($breakpoint-tablet) {
      font-size: 26px;
    }


    color: $color-text__white;
    font-size: 52px;
    font-family: $font-title;
    line-height: 135%; /* 70.2px */
    letter-spacing: 1.56px;
    text-transform: uppercase;

    span {
      display: block;
      padding-top: 19px;
      padding-bottom: 57px;
      font-size: 18px;
      font-family: $font-default;
      line-height: 20px;
      text-transform: none;
    }
  }

  &__buttons {
    @include breakpoint($breakpoint-desktop) {
      flex-direction: row;
      justify-content: space-around;
      }
      @include breakpoint($breakpoint-tablet) {
        flex-direction: column;
        align-items: center;
      }

    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-end;

    svg {
      width: 71px;
      height: 32px;
    }
  }
}