.why-we {
  .container {
    @include breakpoint($breakpoint-mobile) {
      padding: 0;
    }
  }


  &__wrapper {
    @include breakpoint($breakpoint-desktop-big) {
      grid-template-columns: 1.5fr .8fr;
      gap: 40px;
      padding: 67px 100px;
    }
    @include breakpoint($breakpoint-desktop) {
      grid-template-columns: 1fr;
      gap: 49px;
      max-height: unset;
    }
    @include breakpoint($breakpoint-notebook) {
      padding: 50px 27px;
    }
    @include breakpoint($breakpoint-mobile) {
      margin-top: 0;
      padding: 35px 15px;
    }

    display: grid;
    grid-template-columns: 1.1fr .9fr;
    gap: 64px;
    align-items: center;
    max-height: 608px;
    margin-top: 48px;
    padding: 97px 124px 95px 200px;
    border-radius: 10px;
    background:  url("../assets/images/sections/why-we/bg.jpg"), linear-gradient(0deg, #364771 0%, #364771 100%), linear-gradient(223deg, #ffffff 51.16%, #FFE9DB 98.66%);
    background-position: top left, top left;
    background-size: cover;
    background-repeat: no-repeat, no-repeat;
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }

  &__title {
    @include breakpoint($breakpoint-tablet) {
      font-size: 22px;
      line-height: 30px; /* 138.462% */
    }

    color: $color-text__white;
    font-size: 26px;
    font-family: $font-title;
    line-height: 36px; /* 138.462% */
    letter-spacing: 0.78px;
    text-transform: uppercase;
  }

  &__text {
    // @include breakpoint($breakpoint-notebook) {
    //   gap: 20px;
    // }

    color: $color-text__white;
    font-size: 18px;
    line-height: 26px; /* 144.444% */

    p:not(:last-child) {
      padding-bottom: 12px;
    }
  }

  &__advantages {
    @include breakpoint($breakpoint-tablet) {
      grid-template-columns: 1fr;
    }

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }

  .advantages__item {
    @include breakpoint($breakpoint-tablet) {
      min-width: 330px;
    }

    display: flex;
    gap: 13px;
    align-items: center;
    min-width: 340px;
    padding: 13px 0 13px 28px;
    background: #2C3236;
    color: $color-text__white;
    font-size: 18px;
  }
}