.dropdown-nav {
  // position: relative;

  @media (hover: hover) {
    &:hover {
      & > a,
      & > span {
        &::after {
          transform: rotate(180deg);
        }
      }

      & > ul, & > .catalog-menu {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  ul {
    width: calc(100% - 32px);

    // width: 100vw;

    min-width: 360px;

    padding: 8px 0;

    border-radius: $border-radius;
    background-color: $palette-white;
    transition: $transition-time ease;
  }

  & > a,
  & > span {
    display: flex;
    gap: 8px;
    align-items: center;

    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
    }

    &::after {
      content: "";
      width: 16px;
      height: 16px;

      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 6L8 10L12 6' stroke='white' stroke-width='2' stroke-linecap='square' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;

      filter: brightness(0);
      transition: $transition-time ease;
    }
  }

  & > ul {
    position: absolute;
    z-index: 3;
    // top: calc(100% + 16px);

    top: 75px;
    left: 0;
    // background-color: #ffffffe6;

    box-shadow: 0 4px 6px 0 rgba(16, 73, 138, 0.2);

    opacity: 0;
    visibility: hidden;

    // &::before {
    //   content: "";
    //   position: absolute;
    //   z-index: -1;
    //   top: -20px;
    //   left: 0;

    //   display: block;
    //   width: 100%;
    //   height: 40px;
    // }

    a,
    span {
      display: flex;
      padding: 12px 20px;

      color: #231f20;
      transition: $transition-time ease;

      @media (hover: hover) {
        &:hover {
          background-color: #F45F00;
          color: $color-text__white;
        }
      }
    }

    ul {
      position: absolute;
      top: 0;
      left: calc(100% + 8px);

      opacity: 0;
      visibility: hidden;
    }
  }

  &__inner {
    position: relative;

    @media (hover: hover) {
      &:hover {
        & > a::after {
          transform: rotate(-90deg);
        }

        & > ul {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    & > a {
      align-items: center;
      justify-content: space-between;

      &::after {
        content: "";
        width: 16px;
        height: 16px;

        background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 6.5L8 10.5L12 6.5' stroke='%230D243E' stroke-width='2' stroke-linecap='square' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        filter: brightness(0);
        transition: $transition-time ease;
      }
    }

    & > ul {
      position: relative;
      box-shadow: 0 4px 6px 0 rgba(16, 73, 138, 0.2);

      &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: -20px;

        display: block;
        width: 40%;
        height: 100%;
      }
    }
  }

  .catalog-menu {
    position: absolute;
    z-index: 10;
    top: 75px;
    left: 16px;
    display: grid;
    grid-template-columns: 1.3fr 3fr;
    overflow: hidden;
    width: calc(100% + 16px);
    background-color: #ffffffe6;

    opacity: 0;
    visibility: hidden;

    transition: $transition-time ease;

    & > .nav__list {
      width: 100%;
      margin: 0;
    }
  }

  .catalog-menu__item {
    & > a {
      padding: 12px 20px 12px 150px;

      @media (hover: hover) {
        &:hover {
          background-color: #F45F00;
          color: $color-text__white;
        }
      }
    }

    .catalog-menu__nav {
      display: none;
      grid-column: 2/3;
      transition: $transition-time ease;

      .catalog-menu__title {
        padding: 0;
        text-transform: uppercase;
      }

      & > li > ul {
        position: absolute;
        top: 0;
        left: 120%;
        display: none;
      }

      & > li.active {
        & > ul {
          display: block;
          width: 100%;
          // opacity: 1;
          // visibility: visible;
        }
      }
    }

    &.active {
      & > a {
        background-color: #F45F00;
        color: $color-text__white;
      }

      .catalog-menu__nav {
        position: absolute;
        top: 0;
        left: -16px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 18px;
        padding: 46px 53px;
        background: #F45F00;
        text-transform: none;
        opacity: 1;
        visibility: visible;

        & > li > a {
          color: $color-text__white;
          font-weight: 400;
          font-size: 18px;
          font-family: $font-default;
        }
      }
    }

    a.link {
      color: $color-text__primary;
      transition: $transition-time ease;

      &:hover {
        color: $link-hover-color;
      }
    }
  }
}
