<footer id="footer" class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__col1">
        <div class="footer__logo">
          <a href="/" class="logo">
            <img src="assets/images/global/logo.png" alt="logo">
          </a>
          <span>Металлопрокат<br>оптом и в розницу</span>
        </div>
        <!-- /.footer__logo -->
        <div class="footer__address">
          г. Челябинск, пр-кт Ленина, д. 21 «В»,<br>
          помещение 133, оф. 302
        </div>
        <!-- /.footer_address -->
      </div>
      <!-- /.footer__col1 -->
      <div class="footer__col2">
        <nav class="nav nav--footer">
          <ul class="nav__list">
            <li class="menu-item nav__item current-menu-item"><a href="#" class="nav__link link">О компании</a></li>
            <li class="menu-item nav__item"><a href="#" class="nav__link link">Услуги</a></li>
            <li class="menu-item nav__item"><a href="#" class="nav__link link">Контакты</a></li>
            <li class="menu-item nav__item"><a href="#" class="nav__link link">Доставка и оплата</a></li>
            <li class="menu-item nav__item"><a href="#" class="nav__link link">Вопросы и ответы</a></li>
          </ul>
        </nav>
      </div>
      <!-- /.footer__col2 -->

      <div class="footer__col3">
        <nav class="nav nav--footer">
          <ul class="nav__list">
            <li class="menu-item nav__item current-menu-item"><a href="#" class="nav__link link">Черный металлопрокат</a></li>
            <li class="menu-item nav__item"><a href="#" class="nav__link link">Нержавеюий металлопрокат</a></li>
            <li class="menu-item nav__item"><a href="#" class="nav__link link">Цветной металлопрокат</a></li>
            <li class="menu-item nav__item"><a href="#" class="nav__link link">Трубопроводная арматиура</a></li>
            <li class="menu-item nav__item"><a href="#" class="nav__link link">Проволока</a></li>
            <li class="menu-item nav__item"><a href="#" class="nav__link link">Сетка</a></li>
            <li class="menu-item nav__item"><a href="#" class="nav__link link">Труба</a></li>
          </ul>
        </nav>
      </div>
      <!-- /.footer__col3 -->

      <div class="footer__col4">
        <a href="#" class="button button-primary logo">
          Заказать звонок
        </a>
        <a href="tel:+79999999999" class="footer__phone link">+7 (999) 999-99-99</a>
        <a href="mailto:info@tpcural.ru" class="footer__mail link">info@tpcural.ru</a>

        <div class="footer__social">Свяжитесь с нами
          <a href="#" class="logo" target="_blank"><img src="assets/images/global/wa.png" alt="wa"></a>
        </div>
      </div>
      <!-- /.footer__col4 -->

      <div class="footer__copyright">
        <a href="#" class="link">Политика обработки персональных данных</a>
        <div>© Все права защищены 2024г</div>
      </div>
      <!-- /.footer__copyright -->

      <div class="footer__artfactor">
        Создание сайта - <a href="https://artfactor.ru" target="_blank" class="link">АртФактор</a>
      </div>
      <!-- /.footer__artfactor -->


    </div>
    <!-- /.footer__wrapper -->
  </div>
  <!-- /.container -->

</footer>