.button-slider {
  @include breakpoint($breakpoint-desktop) {
    flex-direction: column;
    gap: 22px;
    align-items: flex-start;
    width: 305px;
    height: 168px;
    padding: 25px;
    background-image: url('../assets/images/sections/slider/button-small.png');
    font-size: 18px;
    line-height: normal;
    letter-spacing: 0.54px;
  }

    display: flex;
    align-items: center;
    justify-content: center;
    width: 601px;
    height: 209px;
    padding: 50px 62px 50px 58px;
    background-image: url('../assets/images/sections/slider/button.png');
    background-repeat: no-repeat;
    color: $color-text__white;
    font-size: 26px;
    font-family: $font-title;
    line-height: 36px; /* 138.462% */
    letter-spacing: 0.78px;
    text-transform: uppercase;

    svg {
      min-width: 71px;
      min-height: 32px;
      padding-right: 8px;
      transition: $transition-time ease;
    }

    &:hover {
      svg {
        // stroke: $link-hover-color;

        transform: translateX(8px);
      }
    }
}